.pane-bundle-hot-primary-tout-third{
  background-color: $primary-tout-default-bg;
  color: $primary-tout-default-color;
  .pane-title{
    display: table-cell;
    margin: 0 0 0 0;
    vertical-align: bottom;
    font-weight: bold;
  }
  header{
    display: table;
    min-height: ( $line-height-computed * 4);
    padding: $padding-base-vertical $padding-base-horizontal;
    width: 100%;
    &
    , a{
      color: $primary-tout-default-color;

    }
    a{
      text-decoration: none;
      &:hover,
      &:focus{
        text-decoration: underline;
        color: $gray-light;
      }
    }
  }

}



//DELETE ME LATER!!!!
.pane-bundle-hot-primary-tout-third{
  .omalley-column-content-region-2 &{
    background-color: $brand-danger-b;
  }
  .omalley-column-content-region-3 &{
    background-color: $brand-success-b;
  }
}
