.primary-tout{
  background-color: $primary-tout-default-bg;
  color: $primary-tout-default-color;
  max-width: $primary-tout-max-width;
  .pane-title{
    display: table-cell;
    margin: 0 0 0 0;
    vertical-align: bottom;
    font-weight: bold;
    color: $primary-tout-default-color;
  }
  header{
    display: table;
    min-height: ( $line-height-computed * 4);
    padding: $padding-base-vertical $padding-base-horizontal;
    width: 100%;
    &
    , a{
      color: $primary-tout-default-color;

    }
    a{
      text-decoration: none;
      &:hover,
      &:focus{
        text-decoration: underline;
        color: $gray-light;
      }
    }
  }
}

@include bg-variant('.primary-tout-primary', $brand-primary);
@include bg-variant('.primary-tout-info', $brand-info);
@include bg-variant('.primary-tout-danger', $brand-danger);
@include bg-variant('.primary-tout-success', $brand-success);
@include bg-variant('.primary-tout-warning', $brand-warning);


@include bg-variant('.primary-tout-student-parent', $state-student-parent-bg);
@include bg-variant('.primary-tout-adult', $state-adult-bg);
@include bg-variant('.primary-tout-educator', $state-educator-bg);

@include bg-variant('.primary-tout-volunteer', $state-volunteer-bg);
@include bg-variant('.primary-tout-about', $state-about-bg);
