.site-header{
  padding: $line-height-computed 0;
}
.site-name-slogan{
  img{
    width: 155px;
  }
}

.site-name{
  margin-top: ($line-height-computed / 2);
  font-weight: $headings-font-weight-alt;
  font-family: $font-family-sans-serif-alt;
}



.site-slogan{
  color: $brand-warning;
}
